<div class="container">
  <div class="row">
    <div class="col-md-8 text-center" style="margin:20px">
      <h2>Test Automation</h2>
  <form (submit)="nightmare($event)"  class="form-group">

  <div class="col-md-12" style="margin-bottom:20px">
      <textarea placeholder="type anything then click run button" type="text" [(ngModel)]="desc.description" class="form-control custom" rows="3" id="description" name="description"></textarea>
  </div>

  <button class="primary" mat-button type="submit">Run NightMare</button>
</form>
</div>
</div>
</div>